@font-face{  font-family: 'Lydian';  src: url('assets/fonts/lydian.ttf');  font-style: normal;  font-weight: normal;}
@font-face{  font-family: 'Lydian';  src: url('assets/fonts/lydianItalic.ttf');  font-style: italic;  font-weight: normal;}
@font-face{  font-family: 'Lydian';  src: url('assets/fonts/lydianBold.ttf');  font-style: normal;  font-weight: bold;}
@font-face{  font-family: 'Lydian';  src: url('assets/fonts/lydianbi.ttf');  font-style: italic;  font-weight: bold;}


body{
  background-image: url('assets/images/bg.jpeg');
  background-size: 100% 100%;
  font-family: 'Lydian';
  background-size:cover;
  }

h1{
  font-size:50px;
  color: #4f89b8;
  margin-bottom: 2%;
}

.icon{
width:50px;
margin-right: 10px;
}
#indexTitle{
padding: none; margin-top:3%; margin-left:5%; display: flex; align-items: baseline; flex-wrap:wrap;justify-content: space-between; margin-right: 5%;
  /* width: 90%; */
  color:#4f89b8;
  /* border-style: inset; */
}

@media screen and (max-width:800px) {
  h1{
    font-size:40px;
  }
  #indexTitle{
    flex-direction: column;
    margin-bottom: 3%;
  }
  .navItem{
line-height: 1.3;
  }
}

#socialDiv{
  /* position: absolute;  */
   display: flex;background-color:
   /* border-style: inset; */
}

#navDiv{
  /* border-style: inset; */
   margin-left: 5%; width: 10%; width: 10%; height:200px;
}
.navItem{
  display: block;  text-decoration: none;  color: black;  font-size: 30px;
  margin-bottom: 2%;
  color:#4f89b8;
  /* margin-left: -5%; */
}

.navItem:hover{
  font-size:40px;
}

#creditDiv{
cursor: alias;
   position: fixed;
              padding: 10px 10px 0px 10px;
              text-align: center;
              bottom: 0;
              width: 100%;
              /* Height of the footer*/
              height: 40px;
}
#imageCredit{
  font-size: 14px;
  color: #4f89b8;
}
#creditLink{
  text-decoration: none;  color: rgba(0,0,0,0.5);
}

/* -----------ABOUT PAGE------------------------- */
#bioDiv{
  position: absolute;
  font-size: 18px;
  z-index:3;
  width: 30%;
  margin-top: -7%;
  margin-left:15%;
  padding:20px;
  background-color: rgba(248,222,126,0.85);
  border-radius:20px;
}

#bioPic1{
  position:absolute;
  z-index:1;
  width: 22%;
  margin-left: 60%;
  opacity:85%;
  margin-top:-8%;
  margin-bottom: 10px;
  border-radius:20px;
}

#bioPic2{
  position:absolute;
  z-index:2;
  width: 20%;
  margin-top: -4%;
  margin-left: 46%;
  opacity:90%;
  border-radius:20px;

}

@media screen and (max-width:800px) {
  #bioDiv{
    margin-left: 3%;
    width: 80%;
    margin-top:50%;
    line-height: 115%;
  }

  #bioPic1{
    width:55%;
    margin-left:40%;
    margin-top: -40%;
  }
  #bioPic2{
    width:55%;
    margin-left: 2%;
    margin-top:-15%;
  }
}
/* #creditLink:hover{  font-size: 25px;} */
#connectDiv{
  position: absolute;
  z-index:3;
  width: 30%;
  font-size: 18px;
  margin-top: -8%;
  margin-left:35%;
  padding:20px;
  background-color: rgba(248,222,126,0.85);
  border-radius:20px;
}
