 @font-face {
     font-family: 'Augusta';
     src: url(Augusta.ttf);
 }

 * {
     margin: 0;
     padding: 0;
 }


 li {
     display: inline;
 }

 .navItem {
     display: inline-block;  
     padding: 10px;
     margin-top: 20px;;
     text-decoration: none;
     /* color: black; */
     font-size: 65px;
     font-weight: 100px;
     font-family: 'Augusta';
     color: #fbe8c5e8;
     cursor: url('cursorsword.png'), auto;
 }

 #nav3{
    padding-left: 5px;
    :
 }
 .bottom-nav {
     /* justify-content: center;   */
     text-align: center;
     /* display: flex; */
     cursor: url('cursorsword.png'), auto;
 }

 .navItem:hover {
     font-size: 55px;
     color: rgb(255, 248, 215);
     cursor: url('cursorsword.png'), auto;
 }

 body {
     background-image: url("garden.jpg");
     background-size: 100% 100%;
     background-repeat: no-repeat;
     font-family: 'Augusta';
     background-size: cover;
     height: 100vh;
     cursor: url('cursorsword.png'), auto;
 }

 h1 {
     font-size: 90px;
     text-align: center;
     font-weight: 350;
     font-style: italic;
     color: #fbe8c5f1;
     /* margin-bottom: 2%; */
     cursor: url('cursorsword.png'), auto;
 }

 .email-button {
     font-size: 20px;
     font-family: 'Geneva', Times, serif;
     background-color: rgba(25, 101, 53, 0.843);
     color: #f2b1d3;
     position: absolute;
     bottom: 0;
     right: 0;
     padding: 10px;
     margin-bottom: 15px;
     margin-right: 10px;
     cursor: url('cursorsword.png'), auto;
 }

 .email-button:hover{
    color: rgba(25, 101, 53);
    background-color:rgba(242, 177, 211,0.844);
        transition: 0.5s;
 }

 .description-button {
     font-size: 18px;
     font-family: 'Geneva', Times, serif;
     background-color: rgba(25, 101, 53, 0.844);
     color: #f2b1d3;
     padding-left: 0.5%;
     padding-right: 0.5%;
     padding-bottom: 0.5%;
     padding-top: 0.5%;
     cursor: url('cursorsword.png'), auto;
     display:block;
margin: auto;
     /* margin-left: 26%; */
     margin-bottom:4%;
     font-style: italic;
 }

 .harbour-video {
     width: 44%;
     margin-left: 27%;
     display: inline-block;

 }

 .insta-button {
     position: absolute;
     bottom: 0;
     left: 0;
     padding: 10px;
     margin-bottom: 15px;
     margin-left: 10px;
     font-size: 20px;
     font-family: 'Geneva', Times, serif;
     background-color: rgba(25, 101, 53,0.844);
     color: #f2b1d3;
     cursor: url('cursorsword.png'), auto;

 }

 .insta-button:hover{
    color: #196535d7;
    background-color: rgba(242, 177, 211,0.844);
    transition: 0.5s;
 }


 @media only screen and (max-width: 850px) {
    
h1{
    font-size: 3.7em;
    margin-top: 5%;
}

body{
    height: 150vh;
}

.description-button{
  
    /* margin-top:4%; margin-bottom: 6%; */
    font-size: 18px;
}

.harbour-video{
    width: 90%;
    margin-left: 5%;
}

.email-button{
    position:static;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    font-size: 20px;
    word-wrap: break-word;
}

.insta-button{
    position: static;
    font-size: 18px;
    width: 40%;
    margin-left: 30%;
}
  }

.navItem{
    font-size: 40px;
    margin-top: 5px;
}
  }